.navbar-default {
  border: none;
}

#logo {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
}

#logo_name {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}
