
@import 'global/variables';
@import 'global/reset';
@import 'global/mixins';
@import 'global/col';
@import 'global/typography';
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

#name{
	position: absolute;
	left: 12%;
	float: left;
	color: white;
	font-weight: $light;
	margin-top: 4%;
	font-size: 2em;
}
#logo{
	width: 15%;
	padding: 30px;
	font-family: $work-sans;
	position: fixed;
	left: 10px;
}
#container{
	width: 100%;
	height: 100%;
	position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;	
}

#wordChanger {
  color: white;

}
#info {
	top: 50%;
}
#words {
	margin-top: 25%;
	span {
		font-size: 38px;
	}

}
.arrow{
	height: 33px;
	width: 40px;
	top: -1px;	
}
#gradient{
	width: 100%;
	height: 100%;
}

#name{
	color: $btgreen;
	font-weight: $light;
	font-size: 30px;
	// position: relative;
}
#lname{
	font-weight: $bold;
	color: white !important;
}
span {
	color: $btgreen;
	font-weight: $light;
}
.navbar{
	height: 10%;
}
.nav {
	margin-left: -4%;
	margin-top: 12%;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	font-size: 1.25em !important;
	color: white !important;
}
body{
	background-color: blue;
}
