
@import 'global/variables';
@import 'global/mixins';
@import 'global/typography';


#name{
	position: absolute;
	left: 12%;
	float: left;
	color: white;
	font-weight: $light;
	margin-top: 4%;
	font-size: 2em;
}
#logo{
	// width: 15%;
	// padding: 30px;
	font-family: Questrial;
	// position: fixed;
	// left: 10px;
	display: inline-block;
  	vertical-align: top;
  	height: 50px;
 	 width: 50px;
}
#container{
	width: 100%;
	height: 100%;
	position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;	
}

#wordChanger {
  color: white;

}
#info {
	top: 50%;
}
#words {
	margin-top: 25%;
	span {
		font-size: 38px;
	}

}
.arrow{
	height: 33px;
	width: 40px;
	top: -1px;	
}
#gradient{
	width: 100%;
	height: 100%;
}
span {
	color: $btgreen;
}
.navbar{
	height: 10%;
}
.nav {
	margin-left: -4%;
	margin-top: 23px;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	font-size: 1.25em !important;
	color: white !important;
}

#logo_name {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}
.navbar-default .navbar-header .navbar-brand {
	color: white;
	font-weight: 100!important;
	:hover{
		color: $btgreen !important;
	}
}
@media (min-width: 768px){
	margin-top: 15px !important;
}
@media (min-width: 768px){
	.navbar-default.affix {
	background-color: transparent;
	}
	.navbar-default.affix .navbar-header .navbar-brand{
		color: white !important;
	}
}
body{
	background-color: black;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{
	font-weight: 100;
}
.about{
	height: 800px;
	top: 800px;

}
.triangle{
 		height: 800px;
 		width: 100%;
 		background: url(../img/triangle.svg) no-repeat right;
 		@media (min-width: 768px){
 			background: url(../img/big_triangle.svg) no-repeat right;
 		}
 		@media (max-width: 768px){
 			background-position: fixed;
 		}
}
a :hover{
		color: $btgreen !important;
	}