@import 'global/variables';
@import 'global/reset';
@import 'global/mixins';
@import 'global/col';
@import 'global/typography';

#logo{
	width: 30%;
	padding: 30px;
}
#container{
	width: 100%;
	height: 100%;
}

#wordChanger {
  color: #f35537;

}
#info {
	top: 50%;
}
.words {

}
body {
	background-color: $ltgrey; 
}