  // Number of total columns in grid
    $columns: 12;
    
    // Space between columns
    $gutter: 10px;
    
    // Width of grid container
    $container-widths: (
      small: 544px,
      medium: 720px,
      large: 960px
    );
    
    // Width of browser before a grid resize is triggered
    $browser-breakpoints: (
      small: 768px,
      medium: 992px,
      large: 1200px
    );
    
    .container{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      
      // Creates a media query for each browser breakpoint
      @each $name, $breakpoint in $browser-breakpoints {
        @media (min-width: $breakpoint) {
          width: map-get($container-widths, $name)
        }
      }
    }
    
    .row{
      @include clearfix();
      margin-left: auto;
      margin-right: auto;
    }
    
    .col {
      position: relative;
      min-height: 1px;
      
      // Adds even padding to both sides of a column
      padding-left: ($gutter / 2);
      padding-right: ($gutter / 2);
    }
    
    // Builds grid columns for each browser breakpoint
    @each $name, $breakpoint in $browser-breakpoints {
        @media (min-width: $breakpoint) {
        
            // Loop through each column
            @for $i from 1 through $columns {
            
                //Creates: .small-1, .medium-1, .large-1
                .#{$name}-#{$i} {
                    float: left;
                    width: percentage($i/$columns);
                }
                
            }
        
        }
    }
   