// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Nixie+One|Work+Sans:300,500);


$ms-base: 1.1em;
$ms-ratio: 1.25;

// Font Variables
$light: 300;
$bold: 400;
$work-sans: 'Work Sans', sans-serif;
$nixie-one: 'Nixie One', cursive;

body{
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
// Styles
p {
  font-family: $work-sans;
  font-weight: 400;
  font-size: ms(0);
}
h1 {
	font-family: $nixie-one;
	margin-top: ms(-3.5);
	margin-bottom: ms(-3.5);
}
h2 {
	font-family: $work-sans;
	margin-top: ms(-3.5);
	margin-bottom: ms(-3.5);
	font-weight: $light;
}

h1{
	font-size: ms(6);
}
h2{
	font-size: ms(5);
}
h3{
	font-size: ms(4);
}
h4 {
	font-size: ms(3);
}
h5 {
	font-size: ms(2);
}
h6{
	font-size: ms(1);
}

.italic {
	font-style: italic;
}
.bold {
	 font-weight: $bold;
}
a {
	text-decoration: none;
	// color: $black_lite1;
	
}
a:hover{
		// color: $blue_base;
	}